/* Recipe.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 2000px;
}

h1 {
    color: #333;
    margin-bottom: 10px;
    font-size: 2em;
    text-align: center;
}

p {
    color: #333;
    margin: 10px 0;
}

strong {
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
    columns: 3;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 0 20px 0 20px;
    width: 90%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button, .link-button {
    padding: 10px 20px;
    background-color: #1852f7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
}

.update-button {
    color: white;
}

button:hover, .link-button:hover {
    background-color: #133bb5;
}

.link-button {
    display: inline-block;
}

.button-container {
    margin: 2%;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
}

.ingredients, .instructions {
    width: 90%;
}

.ingredient-input {
    display: flex;
}

@media screen and (width < 920px) {
    ul {
        columns: 2;
    }
}

@media screen and (width < 600px) {
    ul {
        columns: 1;
    }
    .ingredients, .instructions {
        width: 80%;
    }
}